<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1>Latitude: <%= lat %></h1>
<h1>Longitude: <%= lng %></h1>
<h1>Temperature: <%= temp %>  °F</h1>
<h1>Summary: <%= summary %></h1>


  </body>
</html>
