<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<form action='/' method="POST">
<input type="text" name="address"/>
<button type="submit" name="action">Submit</button>
</form>


  </body>
</html>
