body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Marcellus SC', serif;
  font-size: 50px;
}

.temp {
  font-family: 'Poiret One', cursive;
}

.daily {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
}

h1, h2, h3, form {
  align-self: center;
}

.mimi {
  float: right;
}

footer {
  margin-top: 200px;
  font-size: 12px;
}

